
body{
    line-height: 1.5;
    font-family: 'Permanent Marker', cursive;
    background: url("./img/Watch-Dogs-1.jpg");
}
.container{
    font-family: 'Permanent Marker', cursive;
    left: 0;
    top: 0;
    
}
.clearfloat{
    clear: both;
}
header{
    text-align: center;
    
}
section{
    width: 600px;
    height: 350px;
    font-family: 'Permanent Marker', cursive;
    color: yellow;
    margin-top: 80px;
    float: left;

}
aside{
    
    float: right;
    width: 300px;
    height: 350px;
    margin-top: 20px;

}
footer{
    width: 1515px;
    height: 100px;
    
    background-color: black;
    float: left;
    color: white;
}

